{% assign pages = site.pages | sort:"nav_order"  %}

<header class="site-header">
    <div class="site-header-inner">
        <div class="site-header-brand">dmbaughman.com</div>
        <div class="site-header-links">
            <nav>
                <ul class="nav nav-pills">
                    {% for page in pages %}
                        {% if page.layout == "page" %}
                            <li  >
                                <a href="{{ page.url }}">{{ page.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>
