$header-height-large: 70px;
$header-height-small: 40px;
$logo-size-large: 48px;
$logo-size-small: 32px;
$logo-padding-large: ( $header-height-large - $logo-size-large ) / 2;
$logo-padding-small: ( $header-height-small - $logo-size-small ) / 2;

.site-header {
	&-inner {
		@extend .container;
	}
    &-brand {
        float: left;
        
        .logo {
            fill: $orange;
            height: $logo-size-large;
            width: $logo-size-large;
        }

        .name {
            
        }
    }
    &-links {
        float: right;
        
        .nav-link-list {
            &-item {

            }
        }
    
    }
}