.header {
    @extend .clearfix;
    border-bottom: 5px solid $brand-primary;
    height: $header-height;
    width: 100%;
    color: #fff;
    background: $gray-darker;
    &-brand {
        float: left;
        padding: $logo-padding $logo-padding $logo-padding 0;
        margin-right: $grid-gutter-width;
        .logo {
            fill: #fff;
            height: $logo-size;
            width: $logo-size;
        }
    }
    &-links {
        float: left;
        .nav-link-list {
            @extend .list-inline;
            &-item {
                @include transition( background .2s ease );
                a {
                    display: block;
                    padding: (($header-height - $font-size-large) / 2) $grid-gutter-width;
                    font-family: $headings-font-family;
                    font-size: $font-size-large;
                    font-weight: 300;
                    line-height: 1;
                    text-align: center;
                    &,
                    &:hover,
                    &:visited,
                    &:active {
                        color: #fff;
                        text-decoration: none;
                    }
                }
                &:hover {
                    background: darken( $brand-primary, 15% );
                }
                &.active {
                    background: $brand-primary;
                }
            }
        }
    }
}