$hero-image-url: "https://dl.dropboxusercontent.com/u/109659348/thunderbolt-desk.jpg";

.home {
    .hero {
        background: $brand-primary;
        color: #fff;
        float: right;
        margin-top: $logo-size-sm + ( $logo-padding-sm / 2 );
        opacity: .95;
        padding: 75px 35px;
        border-radius: 0 20px;
        h1, h2 {
            text-align: right;
        }
        h2 {
            color: $gray-darker;
            //font-weight: 100;
        }
    }

    &:before {
        position: absolute;
        background: url( $hero-image-url ) center center no-repeat;
        background-size: cover;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        height: auto;
        content: " ";
        z-index: -1;
    }
}