$hero-image-url: "../img/thunderbolt-desk.jpg";

.home {
    &:before {
        position: fixed;
        background: url( $hero-image-url ) center center no-repeat;
        background-size: cover;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        height: auto;
        content: " ";
        z-index: -1;
    }
    .hero {
        @extend .clearfix;
        margin-bottom: 120px;
        &-text {
            background: $brand-primary;
            color: #fff;
            float: right;
            margin-top: $logo-size-sm + ( $logo-padding-sm / 2 );
            opacity: .95;
            padding: 55px 35px;
            border-radius: 0 20px;
            h1, h2 {
                text-align: right;
            }
            h2 {
                color: $gray-darker;
                //font-weight: 100;
            }            
        }

    }

    .copy {
        background: $gray-darker;
        border-radius: 0 20px;
        color: #fff;
        opacity: .95;
        padding: $grid-gutter-width;
    }


}