.page-content {
	@include container-fixed();
}

.page-section {
    border-bottom: 1px solid darken($gray-lighter, 15%);
    margin-top: $grid-gutter-width;
    margin-bottom: $grid-gutter-width / 2;
    color: $brand-primary;
}

.portfolio-image {
    @extend .img-responsive;
    margin-bottom: $grid-gutter-width;
}