.sidebar {
    background: $gray-darker;
    border-right: 5px solid $brand-primary;
    bottom: 0;
    color: #fff;
    left: 0;
    position: fixed;
    top: 0;
    width: $sidebar-width-xs;
    @include box-sizing( content-box );
    @media( min-width: $screen-sm-min ) {
        width: $sidebar-width-sm;
    }

    &-brand {
        display: block;
        padding: $logo-padding-xs;
        .logo {
            fill: #fff;
            height: $logo-size-xs;
            width: $logo-size-xs;
        }

        @media( min-width: $screen-sm-min ) {
            padding: ( $logo-padding-sm / 2 ) $logo-padding-sm;
            .logo {
                height: $logo-size-sm;
                width: $logo-size-sm;
            }
        }
    }
    &-links {
        .nav-link-list {
            @extend .list-unstyled;
            &-item {
                @include transition( background .2s ease );
                a {
                    display: block;
                    font-family: $headings-font-family;
                    font-size: $font-size-large;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    text-align: center;
                    &,
                    &:hover,
                    &:visited,
                    &:active {
                        color: #fff;
                        text-decoration: none;
                    }

                }
                &:hover {
                    background: darken( $brand-primary, 15% );
                }
                &.active {
                    background: $brand-primary;
                }

            }
        }
    }
}