//== Variables
//

$brand-primary: 	#0096db;

$link-color:        $brand-primary;
$link-hover-color:  darken($link-color, 10%);

//== Typography
//

$headings-font-family:    Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif ;
$headings-font-weight:    300;


//== Sidebar
//

$sidebar-width-xs: 48px;
$sidebar-width-sm: 140px;
$logo-size-xs: 32px;
$logo-size-sm: 64px;
$logo-padding-xs: ( $sidebar-width-xs - $logo-size-xs ) / 2;
$logo-padding-sm: ( $sidebar-width-sm - $logo-size-sm ) / 2;
