<!DOCTYPE html>

</html>
{% include head.html %}

<body>

    {% include sidebar.html %}

    <main class="page-content">

    {{ page.content }}

    {% for work in site.work %}
        <h2 class="h3">{{ work.title }}</h2>
        <div class="row">
            {% for img in work.carousel %}
            <div class="col-sm-6">
                <img class="img-responsive" src="../img/{{ img }}">
            </div>
            {% endfor %}
        </div>
        <p>{{ work.content }}</p>
    {% endfor %}
    </main>

    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>
        $('.carousel').carousel();
    </script>
</body>

</html>
