<!DOCTYPE html>

</html>
{% include head.html %}

<body>

    {% include header.html %}

    <main class="container">

    {{ page.content }}

    {% for work in site.work %}
        <h2 class="page-section">{{ work.title }}</h2>
        <div class="row">
            <div class="col-md-4">
                {% if work.link %}
                <p><a href="{{ work.link }}">View website</a> {{ work.link_note }}</p>
                {% endif %}
                <ul class="list-inline">
                    {% for tag in work.tags %}
                    <li class="work-tag">{{ tag }}</li>
                    {% endfor %}
                </ul>
                <p>{{ work.content }}</p>
            </div>
        {% for img in work.images %}
            {% if forloop.first %}
            <div class="col-md-8">
                <img class="portfolio-image center-block" src="../img/{{ img }}">
            </div>
        </div>
        <div class="row">
            {% else %}
            <div class="col-sm-4">
                <img class="portfolio-image" src="../img/{{ img }}">
            </div>
            {% endif %}
        {% endfor %}
        </div>
    {% endfor %}
    </main>

    {% include footer.html %}
</body>

</html>
